<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Enterprise_Deployment_example.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Enterprise_Deployment_example.My.MySettings>
            <setting name="Enterprise_Deployment_example_ClientAuto_DSMWebServiceAPIService"
                serializeAs="String">
                <value>http://lecri01-142dm.lvn.broadcom.net/DSM_WebService/mod_gsoap_utf8.dll</value>
            </setting>
        </Enterprise_Deployment_example.My.MySettings>
    </applicationSettings>
</configuration>